<!DOCTYPE html>
<html lang="en" ng-app="myApp">

    <head>

        <title><%=title %></title>
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="Description" content="Find Your Nearest Public Toilets in India" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    	<meta name="Keywords" content="findjakes, public toilet, public toilets in delhi, public toilets in new delhi, public toilets in pune, public toilets in banglore, public toilets in india, clean india, sulabh toilets" />

        <link rel="icon" href="favicon.png" type="image/png" />

        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="css/grayscale.css" rel="stylesheet">
        <link href="css/utility.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

		<script src="//code.angularjs.org/1.3.15/angular.js"></script>
		<script src="//maps-api-ssl.google.com/maps/api/js?key=AIzaSyCI3Gk7GXOEbmTD9vOGbHabVe8li2ek4yY&libraries=visualization,drawing,geometry,places"></script>
		<script src="ngmap/build/scripts/ng-map.min.js"></script>
		<script src="ngmap/spec/lib/markerclusterer.js"></script>
		
		<link href="ngmap/testapp/custom-marker.css" rel="stylesheet" />

    </head>

    <body>
		<div ng-controller="findjakes-controller as vm"> 
			<ng-map zoom="8" center="[28.71642, 77.17046]">
				<custom-marker position="[{{x.latitude}}, {{x.longitude}}]" ng-repeat="x in jakes">
					<div class="cm">
						position:<br>
						{{x.latitude}}<br>
						{{x.longitude}}
					</div>
				</custom-marker>
			</ng-map>
		</div>
		
		<script>
			var app = angular.module('myApp', ['ngMap']);
			app.controller('findjakes-controller', function($http, $scope, $interval, NgMap) {
				var vm = this;
				$http.get("http://www.findjakes-webapp.skoushlendra.in/findjakes").then(function(response) {
					$scope.jakes = response.data;
				});
				vm.positions = $scope.jakes;
				vm.dynMarkers = []
				NgMap.getMap().then(function(map) {
					var bounds = new google.maps.LatLngBounds();
					for (var k in map.customMarkers) {
						var cm = map.customMarkers[k];
						vm.dynMarkers.push(cm);
						bounds.extend(cm.getPosition());
					};
					vm.markerClusterer = new MarkerClusterer(map, vm.dynMarkers, {});
					map.setCenter(bounds.getCenter());
					map.fitBounds(bounds);
				});
			});
		</script>
	</body>

</html>
